* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1280px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 40%;
  }
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

/* html {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  font-size: 2rem;
  line-height: 1.4;
}

#navbar {
  background-color: #858c51;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a:hover {
  background-color:#b35c56;
}

.nav-list a {
  padding: 1rem;
  display: block;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

#welcome-section {
  background-color: #212026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#welcome-section h1 {
  color: #858c51;
  font-size: 3.5rem;
}

#welcome-section p {
  color: #b35c56;
  font-style: italic;
  font-size: 2.25rem;
}

#projects {
  background-color: #8599a6;
  color: #212026;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h3 {
  font-size: 3rem;
  padding: 8rem 0rem 2rem 0rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  padding-bottom:8rem;
}

.project-tile {
  margin: 2rem;
  font-size: 1.65rem;
  background-color:#212026;
  padding: 1.5rem;
}

.project-tile figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile figcaption {
 color:#d0d7d9;
 padding-top: 1rem;
}

.project-tile img{
 height: 420px;
 width: 295px;
}

#contact {
  background-color: #727363;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#d0d7d9; 
}

#contact h2 {
  padding: 0rem;
}

#contact p {
 padding: .5rem;
  font-size: 1.5rem;
}

#contact div {
padding: 2rem;
display: flex;
justify-content: center;
}

#contact div a {
padding: 2rem;
margin: 1px;
color:#d0d7d9;
text-shadow: 2px 2px 1px #212026;
transition: transform 0.2s linear;
}

#contact div a:hover {
  transform: translateY(8px);
}

footer {
  color:#d0d7d9;
  background-color:#212026;
  display:flex;
  justify-content: center;
}