* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Slim', cursive;
}

header {
    display: flex;
    justify-content:center;
    background-color:black;
    color: gold;
    padding: 2em 0;
    font-size: xx-large;
}

.text {
    margin-right: 3em;
}

button {
    font-size: large;
    background-color:gold;
    border-radius: 8px;
    margin-right: 20px;
}

button:hover {
    background-color: goldenrod;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

figure {
    margin: 10px;
}

figure img {
    width: 200px;
    border: 1px solid gold;
}

figcaption {
    text-align: center;
    color: gold;
}

footer {
    color: darkgray;
    text-align: center;
}